@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* shared style */
.flex{
    display: flex;
}
.btn-primary{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    font-weight: bold;
}


/* nav style */
nav{
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
nav li{
    margin-right: 20px;
    color: #575757;
    font-weight: 500;
    font-family: "Arimo", sans-serif;
}